In [1]:
a = [10, 20, 30, [1,2,3]]

In [4]:
print(a[a.index([1,2,3])])

[1, 2, 3]

In [5]:
수학 = [20,30,40,50,60]
영어 = [50,70,50,60,90]

In [6]:
import re
b = "https://www.youtube.com/"

re.sub('www.youtube.com', 'www.naver.com', b)

'https://www.naver.com/'

In [16]:
am = sum(m) / len(m)
ae = sum(e) / len(e)
print("수학평균: ",am)
print("영어평균: ",ae)

수학평균:  40.0
영어평균:  64.0

In [23]:
import numpy as np

a6 = np.array([1,2,100,4,5,900])
a6 = np.delete(a6, 2)
a6 = np.delete(a6, -1)
print(a6)

[1 2 4 5]

In [31]:
ds = {"수학점수":[20,30,40,50,60],"영어점수":[50,70,50,60,90]}

print(ds["수학점수"][0]+ds["영어점수"][0])

70

하이 하이

In [35]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Requirement already satisfied: pytz>=2017.2 in c:\users\pc502\anaconda3\envs\kim\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pc502\anaconda3\envs\kim\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\pc502\anaconda3\envs\kim\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\users\pc502\anaconda3\envs\kim\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.17.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.5

In [36]:
import pandas as pd

In [39]:
# array로 df 생성

data = np.array([
    [1, 'Alice', 30],
    [2, 'Bob', 25],
    [3, 'Charlie', 35]
])
df = pd.DataFrame(data)
print(df)

   0        1   2
0  1    Alice  30
1  2      Bob  25
2  3  Charlie  35

In [43]:
df = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])
print(df)

  ID     Name Age
0  1    Alice  30
1  2      Bob  25
2  3  Charlie  35

In [45]:
#딕셔너리로 df생성

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [47]:
# csv파일을 data로 가져옴

csv_data = pd.read_csv("C:/Users/PC502/Desktop/test.csv", header=0)
print(csv_data)

    Name  Age      City
0  Alice   25  New York
1    Bob   30     Paris
2    Kim   22    London

In [50]:
# 데이터에 변수명이 없을경우 None, 있을경우 행위치

csv_data = pd.read_csv("C:/Users/PC502/Desktop/test.csv", header=None)
print(csv_data)

       0    1         2
0   Name  Age      City
1  Alice   25  New York
2    Bob   30     Paris
3    Kim   22    London

In [57]:
csv_data.shape #→ 데이터 프레임의 차원확인

(4, 3)

In [58]:
csv_data.columns #→ 데이터 프레임의 변수확인

Int64Index([0, 1, 2], dtype='int64')

In [59]:
csv_data.dtypes #→ 데이터 프레임의 변수 타입확인

0    object
1    object
2    object
dtype: object

In [60]:
csv_data.describe() #→ 수치형 변수들에 대한 요약

          0   1         2
count     4   4         4
unique    4   4         4
top     Kim  22  New York
freq      1   1         1

In [61]:
csv_data.head() #→ 위에서 다섯개의 값 도출

       0    1         2
0   Name  Age      City
1  Alice   25  New York
2    Bob   30     Paris
3    Kim   22    London

In [62]:
csv_data.tail() #→ 아래에서 다섯개의 값 도출

       0    1         2
0   Name  Age      City
1  Alice   25  New York
2    Bob   30     Paris
3    Kim   22    London

In [63]:
csv_data.isnull().sum() #→ 결측값이 몇개인지

0    0
1    0
2    0
dtype: int64

In [64]:
# csv_data['column'].value_counts() #→ 카테고리 변수의 어떻게 분포되어 있는지
# csv_data['column'].unique() #→ 카테고리 변수의 값들 중 독립적인 값 보기
# csv_data['column'].nunique() #→ 카테고리 변수의 값들 중 독립적인 값 갯수