In [25]:
a = [1,100,2,5,6,7,8,9]

a.remove(100)
a.append(10)

print(a)

[1, 2, 5, 6, 7, 8, 9, 10]

In [4]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.19.5-cp36-cp36m-win_amd64.whl (13.2 MB)
Installing collected packages: numpy
Successfully installed numpy-1.19.5

In [31]:
import numpy as np

aa = np.array(a)
aa = np.append(aa, np.array([3, 4, 11]))
aa.sort()
print(aa)

[ 1  2  3  4  5  6  7  8  9 10 11]

In [16]:
A = aa[aa <= 5]
B = aa[aa < 4]

print("A:", A)
print("B:", B)

A: [1 2 5]
B: [1 2]

In [24]:
교수님 = {"성함":["김창균 교수님", "이태민 교수님","이두호 교수님", "박은희 교수님", "권세진 교수님"], "학과사무실 전화번호":["033-570-6587","033-570-6378","033-570-6583","033-570-6372", "033-570-6377"]}
print(교수님)

{'성함': ['김창균 교수님', '이태민 교수님', '이두호 교수님', '박은희 교수님', '권세진 교수님'], '학과사무실 전화번호': ['033-570-6587', '033-570-6378', '033-570-6583', '033-570-6372', '033-570-6377']}

In [20]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\envs\kim\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\user\anaconda3\envs\kim\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\envs\kim\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\envs\kim\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.17.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.5

In [23]:
import pandas as pd
교수님 = {"성함":["김창균 교수님", "이태민 교수님","이두호 교수님", "박은희 교수님", "권세진 교수님"], "학과사무실 전화번호":["033-570-6587","033-570-6378","033-570-6583","033-570-6372", "033-570-6377"]}

df = pd.DataFrame(교수님)
df

        성함    학과사무실 전화번호
0  김창균 교수님  033-570-6587
1  이태민 교수님  033-570-6378
2  이두호 교수님  033-570-6583
3  박은희 교수님  033-570-6372
4  권세진 교수님  033-570-6377

In [32]:
pd.read_csv("C:/Users/User/Downloads/Data1.csv")

       연령     학력  성과능력  성과태도
0  26~30세  대학원졸업     5     4
1  31세 이상  대학교졸업     4     3
2  31세 이상  전문대졸업     4     2
3  26~30세  대학원졸업     4     4
4  20~25세  대학교졸업     4     4